[Unit]
Description=FRP Client Service
#After=graphical-session.target
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
Group=root
ExecStartPre=/bin/sleep 10
ExecStart=/home/dhy/frp/frpc -c /home/dhy/frp/frpc.toml
Restart=on-failure

[Install]
WantedBy=multi-user.target
